.carousel {
    /* position: ; */
    margin: 0;
    width: 100%;
}

img {
    height: 50vh;
    width: 50%;
    display: block;
    margin: 0 auto;
}

/* .slide-arrow {
    color: blue;
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    top: 50%;
} */
